<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Hello <%= @user.name %>!</h1>
  <p>You've just placed an order with The Kitten Project.</p>
  <p>Please find the picture(s) you bought below:</p>
  <!-- Compléter une fois que la table Order sera en place -->
</body>
</html>