html {
  scroll-behavior: smooth;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#content-wrap {
  padding-bottom: 4rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;        
}