  <footer class="py-4 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Start Bootstrap, THP, La Get A Band Team 2021</p>
    </div>
  </footer>